/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* General */
/* line 9, ../scss/screen.scss */
html, body {
  font-family: 'Ubuntu',sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  background: #000;
  -webkit-font-smoothing: antialiased;
}

/* line 17, ../scss/screen.scss */
body > .container-fluid {
  margin-top: 50px;
}

/* Navbar */
/* line 23, ../scss/screen.scss */
nav.navbar-inverse {
  background: rgba(0, 0, 0, 0.8);
  border: 0;
}
/* line 27, ../scss/screen.scss */
nav.navbar-inverse * {
  background: transparent;
  border: 0;
}
/* line 31, ../scss/screen.scss */
nav .navbar-right li {
  display: inline-block;
}

/* Vertical aligning */
/* line 37, ../scss/screen.scss */
.div-table {
  display: table;
  height: 100%;
  width: 100%;
}

/* line 42, ../scss/screen.scss */
.div-table-row {
  display: table-row;
}

/* line 45, ../scss/screen.scss */
.div-table-cell {
  display: table-cell;
  vertical-align: middle;
}

/* Hero */
/* line 51, ../scss/screen.scss */
.hero {
  height: 100vh;
  padding: 80px 30px 30px;
  margin-top: -50px;
  background-size: cover !important;
  -webkit-transition: 1s;
  transition: 1s;
}
/* line 58, ../scss/screen.scss */
.hero.short-hero {
  height: 50vh;
}
/* line 61, ../scss/screen.scss */
.hero.valign {
  display: table;
  width: 100%;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}
/* line 66, ../scss/screen.scss */
.hero.valign > div {
  display: table-row;
}
/* line 69, ../scss/screen.scss */
.hero.valign > div > div {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
/* line 74, ../scss/screen.scss */
.hero .col-md-12 {
  text-align: center;
}
/* line 77, ../scss/screen.scss */
.hero h1 {
  margin: 0;
  font-size: 5em;
  color: #fff;
  font-weight: 300;
}
/* line 83, ../scss/screen.scss */
.hero p {
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}
/* line 88, ../scss/screen.scss */
.hero p a {
  color: #fff;
  text-decoration: underline;
}
/* line 92, ../scss/screen.scss */
.hero p a:hover {
  color: #ddd;
}
@media (max-width: 768px) {
  /* line 96, ../scss/screen.scss */
  .hero h1 {
    font-size: 2.5em;
  }
  /* line 99, ../scss/screen.scss */
  .hero p {
    font-size: 1em;
  }
}

/* Clever title */
/* line 106, ../scss/screen.scss */
.clever-title > div {
  padding: 0;
}

/* line 109, ../scss/screen.scss */
.clever-title > div:nth-of-type(1) {
  text-align: right;
}

/* Icon Carousel */
/* line 115, ../scss/screen.scss */
.icon_carousel i.fa {
  color: #fff;
  font-size: 5em;
}
/* line 119, ../scss/screen.scss */
.icon_carousel img {
  height: 90px !important;
  margin: auto;
}
/* line 123, ../scss/screen.scss */
.icon_carousel a.carousel-control, .icon_carousel ol.carousel-indicators {
  display: none;
}
@media (max-width: 768px) {
  /* line 127, ../scss/screen.scss */
  .icon_carousel i.fa {
    font-size: 2.5em;
  }
  /* line 130, ../scss/screen.scss */
  .icon_carousel img {
    height: 45px !important;
  }
}

/* Home */
/* line 138, ../scss/screen.scss */
.home-page .hero {
  background: #000 url(../img/kevin-hero-bg.jpg) bottom center no-repeat;
}

/* Portfolio */
/* line 144, ../scss/screen.scss */
.portfolio-page {
  /* Column messiness fix */
}
/* line 145, ../scss/screen.scss */
.portfolio-page .hero {
  background: #000 url(../img/albums/into-the-glacier/into-the-glacier-34.jpg) center center no-repeat;
}
/* line 148, ../scss/screen.scss */
.portfolio-page .portfolio-filters {
  margin-top: 30px;
}
/* line 151, ../scss/screen.scss */
.portfolio-page .portfolio-filters a.btn {
  background-color: rgba(0, 0, 0, 0.8);
  border: 0;
  border-radius: 0;
  margin: 5px;
  min-width: 150px;
  color: #fff;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 161, ../scss/screen.scss */
.portfolio-page .portfolio-filters a.btn.mouseOn {
  color: #fff;
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
/* line 165, ../scss/screen.scss */
.portfolio-page .portfolio-filters a.btn.selected {
  background: rgba(255, 255, 255, 0.8);
  color: #333;
}
/* line 170, ../scss/screen.scss */
.portfolio-page .portfolio-item {
  margin-bottom: 30px;
  cursor: pointer;
}
/* line 174, ../scss/screen.scss */
.portfolio-page .portfolio-item > div {
  overflow: hidden;
  padding: 0;
  border: 1px solid #333;
}
/* line 179, ../scss/screen.scss */
.portfolio-page .portfolio-item .portfolio-item-overlay {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  padding: 30px;
  text-align: center;
  opacity: 1;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 190, ../scss/screen.scss */
.portfolio-page .portfolio-item .portfolio-item-overlay img {
  width: 75%;
  opacity: .9;
}
/* line 194, ../scss/screen.scss */
.portfolio-page .portfolio-item-open.portfolio-item-hover .portfolio-item-overlay {
  opacity: 0;
}
/* line 197, ../scss/screen.scss */
.portfolio-page .portfolio-item-desc {
  padding: 0 15px 15px;
  display: none;
}
/* line 201, ../scss/screen.scss */
.portfolio-page .portfolio-item-desc p {
  font-size: .9em;
}
@media (min-width: 768px) {
  /* line 205, ../scss/screen.scss */
  .portfolio-page .portfolio-item-hover .portfolio-item-overlay {
    opacity: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 211, ../scss/screen.scss */
  .portfolio-page .portfolio-list div:nth-of-type(2n+1) {
    clear: both;
  }
}
@media (min-width: 992px) {
  /* line 216, ../scss/screen.scss */
  .portfolio-page .portfolio-list div:nth-of-type(3n+1) {
    clear: both;
  }
}

/* Parallax Stuff */
/*
.parallax {
    height: 500px;
    height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}
.parallax_group {
    position: relative;
    height: 500px;
    height: 50vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
.parallax_layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.parallax_layer-fore {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}
.parallax_layer-back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
}
.parallax_layer_container {
	text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
*/
/*
[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}
[ui-view].ng-enter {
  opacity: 0;
}
[ui-view].ng-enter-active {
  opacity: 1;
}
[ui-view].ng-leave {
  opacity: 1;
}
[ui-view].ng-leave-active {
  opacity: 0;
}
*/
