<div class="row home-page">
	<div class="hero col-md-12">
		<div class="clever-title">
			<div class="col-xs-5">
				<h1>kevin</h1>
			</div>
			
			<div class="col-xs-2 icon_carousel">
        		<div ui-view="iconCarousel"></div>
        	</div>
        	
			<div class="col-xs-5">
				<h1>reilly</h1>
			</div>
		</div>
		<div class="col-md-offset-3 col-md-6">
			<p>Bio, Blog and Photography sections coming soon. In the meantime, feel free to check out my <a ui-sref="portfolio">portfolio &raquo;</a></p>
		</div>
	</div>
</div>