<div class="row">
	<div class="col-md-12">
		<h2>Wordpress</h2>
		<p>some of my most recent custom Wordpress projects</p>
	</div>
</div>
<div class="row portfolio-list">
    <div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="x in wordpress">
    	<div class="col-md-12">
	    	<img class="img-responsive" ng-src="{{rootURL}}/img/portfolio/{{x.slug}}-thumb.jpg">
	    	<div class="portfolio-item-overlay">
	    		<div class="div-table">
	    			<div class="div-table-row">
	    				<div class="div-table-cell">
	    					<img ng-src="{{rootURL}}/img/portfolio/{{x.slug}}-logo.png">
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="portfolio-item-desc">
	    		<div>
					<h3>{{x.title}}</h3>
					<a ng-if="x.url" href="{{x.url}}" target="_blank">View &raquo;</a><br>
					<p ng-if="x.desc">{{x.desc}}</p>
				</div>
			</div>
	    </div>
    </div>
</div>