<div class="container-fluid portfolio">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-12">
				<div class="col-md-12">
					<div class="row portfolio-list">
						<div class="col-sm-4 portfolio-item">
							<img class="img-responsive" src="img/work/enviro-thumb.jpg">
						</div>
						<div class="col-sm-4 portfolio-item">
							<img class="img-responsive" src="img/work/enviro-thumb.jpg">
						</div>
						<div class="col-sm-4 portfolio-item">
							<img class="img-responsive" src="img/work/enviro-thumb.jpg">
						</div>
						<div class="col-sm-4 portfolio-item">
							<img class="img-responsive" src="img/work/enviro-thumb.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	
</script>
